.error-container {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  background-color: #f0f0f0; /* Background color for the error page */
}

.error-content {
  text-align: center;
}

.error-container h1 {
  font-size: 36px;
  color: #ff0000; /* Red color for the heading */
  margin-bottom: 20px;
}

.error-container p {
  font-size: 18px;
  color: #333; /* Text color for the message */
}





      
      /* Center the quiz section on large screens */
      .quiz-section {
        display: flex;
        justify-content: center;
        align-items: center;
        min-height: 100vh;
      }
      
      /* Style the quiz container */
      .quiz-container {
        background-color: #fff;
        box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
        border-radius: 8px;
        max-width: 600px;
        padding: 20px;
        text-align: center;
      }
      
      /* Style the question card */
      .question-card {
        margin-bottom: 20px;
      }
      
      .question-card h2 {
        font-size: 24px;
        margin-bottom: 10px;
      }
      
      .question-card p {
        font-size: 18px;
        color: #333;
      }
      
      /* Style the answer buttons */
      .answer-options {
        display: flex;
        flex-direction: column;
        align-items: center;
      }
      
      .answer-options button {
        margin: 10px;
        padding: 10px 20px;
        background-color: #007bff;
        color: #fff;
        border: none;
        border-radius: 5px;
        cursor: pointer;
        font-size: 16px;
        transition: background-color 0.3s ease;
      }
      
      .answer-options button:hover {
        background-color: #0056b3;
      }
      
      /* Style the quiz summary */
      .quiz-summary {
        margin: 20px 0;
      }
      
      .quiz-summary h2 {
        font-size: 24px;
        color: #333;
        margin-bottom: 10px;
      }
      
      .quiz-summary p {
        font-size: 18px;
        color: #333;
      }
      














      /* DictionaryApp.css */

.dictionary-app {
  text-align: center;
  padding: 20px;
  margin-top: 100px;
}

.app-title {
  font-size: 24px;
  margin-bottom: 20px;
  color: #333;
}

.search-bar {
  display: flex;
  align-items: center;
  justify-content: center;
  margin-bottom: 20px;
}

input[type="text"] {
  padding: 10px;
  font-size: 16px;
  border: 1px solid #ccc;
  border-radius: 5px;
  width: 300px;
  margin-right: 10px;
}

.search-button {
  padding: 10px 20px;
  background-color: #007bff;
  color: white;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  font-size: 16px;
}

.search-button:hover {
  background-color: #0056b3;
}

.loading-text {
  font-size: 18px;
  color: #333;
}

.definitions {
  text-align: left;
  margin-top: 20px;
}

.part-of-speech {
  font-size: 20px;
  color: #007bff;
}

.definition-item {
  font-size: 16px;
  margin-bottom: 10px;
  color: #333;
}

.no-definitions-text {
  font-size: 18px;
  color: #333;
}
