
.error-container {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  background-color: #f0f0f0; /* Background color for the error page */
}

.error-content {
  text-align: center;
}

.error-container h1 {
  font-size: 36px;
  color: #ff0000; /* Red color for the heading */
  margin-bottom: 20px;
}

.error-container p {
  font-size: 18px;
  color: #333; /* Text color for the message */










}

/* the quiz section on large screens */
.quiz-section {
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
  margin-top: 100px;
}

/* Style the quiz container */
.quiz-container {
  background-color: #fff;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
  border-radius: 8px;
  max-width: 600px;
  padding: 20px;
  text-align: center;
}

/* Style the question card */
.question-card {
  margin-bottom: 20px;
}

.question-card h2 {
  font-size: 24px;
  margin-bottom: 10px;
}

.question-card p {
  font-size: 18px;
  color: #333;
}

/* Style the answer buttons */
.answer-options {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.answer-options button {
  margin: 10px;
  padding: 10px 20px;
  background-color: #007bff;
  color: #fff;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  font-size: 16px;
  transition: background-color 0.3s ease;
}

.answer-options button:hover {
  background-color: #0056b3;
}

/* Style the quiz summary */
.quiz-summary {
  margin: 20px 0;
}

.quiz-summary h2 {
  font-size: 24px;
  color: #333;
  margin-bottom: 10px;
}

.quiz-summary p {
  font-size: 18px;
  color: #333;
}

@keyframes shake {
  0% { transform: translate(0, 0); }
  25% { transform: translate(-5px, 5px); }
  50% { transform: translate(5px, -5px); }
  75% { transform: translate(-5px, 5px); }
  100% { transform: translate(0, 0); }
}

.shaking-image {
  animation: shake 2s ease infinite;
}


@keyframes reading {
  0%, 100% {
    transform: translateY(0);
    opacity: 1;
  }
  50% {
    transform: translateY(-15px);
    opacity: 0.8;
  }
}

.reading-image {
  animation: reading 2s ease infinite;
}














/* DictionaryApp.css */

.dictionary-app {
  text-align: center;
  padding: 20px;
  margin-top: 100px;
}

.app-title {
  font-size: 24px;
  margin-bottom: 20px;
  color: #333;
}

.search-bar {
  display: flex;
  align-items: center;
  justify-content: center;
  margin-bottom: 20px;
}

input[type="text"] {
  padding: 10px;
  font-size: 16px;
  border: 1px solid #ccc;
  border-radius: 5px;
  width: 300px;
  margin-right: 10px;
}

.search-button {
  padding: 10px 20px;
  background-color: #007bff;
  color: white;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  font-size: 16px;
}

.search-button:hover {
  background-color: #0056b3;
}

.loading-text {
  font-size: 18px;
  color: #333;
}

.definitions {
  text-align: left;
  margin-top: 20px;
}

.part-of-speech {
  font-size: 20px;
  color: #007bff;
}

.definition-item {
  font-size: 16px;
  margin-bottom: 10px;
  color: #333;
}

.no-definitions-text {
  font-size: 18px;
  color: #333;
}



@media (max-width: 768px) {
  .search-bar {
    gap: 10px;
  }

  .search-button {
    width: 30%;
    display: flex;
    align-items: center;
    justify-content: center;
  }

  .search-text {
    display: none;
  }

  .search-icon {
    display: inline-block;
  }
}




/* Football Matches Container */


#football-matches-page {
  background-color: black;
}

.football-matches-container {
  /* background-color: #f4f4f4; */
  padding: 20px;
  border-radius: 10px;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
  max-width: 800px;
  margin: 80px auto;
}

/* Matches Heading */
.matches-heading {
  font-size: 24px;
  font-weight: bold;
  margin-bottom: 10px;
  color: whitesmoke;
}

.league-heading {
  color: whitesmoke;
}

.league-country-name {
  color: rgb(171, 163, 163);
}

/* Matches List */
.matches-list {
  list-style: none;
  padding: 0;
}

/* Match Item */
.match-item {
  background-color: #111111;
  margin: 10px 0;
  padding: 10px;
  border-radius: 5px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  display: flex;
  justify-content: space-between;
  align-items: center;
  color: rgb(145, 142, 142);
}

/* Team Info */
.team {
  display: flex;
  align-items: center;
}

.team-crest {
  width: 40px;
  height: 40px;
  margin-right: 10px;
}

.team-name {
  font-weight: bold;
}

/* Score */
.match-score {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.winner-text {
  color: green;
  font-weight: bold;
}

.score-text {
  font-size: 18px;
}

/* Competition Info */
.competition-info {
  flex: 1;
}

.competition-name {
  font-weight: bold;
}

.match-location {
  font-style: italic;
  color: #555;
}

/* Match Status and Date */
.match-status,
.match-date {
  font-weight: bold;
}
